{% extends 'basecamp/base_full.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

{% comment %}
title, content, author, created_at
리스트(참여자), 생성 및 수정 페이지(방장), 디테일 페이지(참여자)
1. 모델
2. 리스트 -> 테스트는 관리자
3. 디테일(삭제)
4. 생성 및 수정
{% endcomment %}

<!-- Header -->
<header class="bg-info py-5 mb-5">
    <div class="container h-100">
        <div class="row h-200 align-items-center">
            <div class="col-lg-12">

                {% comment %} 공지사항 시작 {% endcomment %}
                {% for n in notices %}
                <div class="col-12">
                    <button class="btn btn-secondary col-12" type="button" data-toggle="collapse"
                            data-target="#collapseExample_{{ n.id }}" aria-expanded="false"
                            aria-controls="collapseExample_{{n.id}}">
                        {{ n.title }}
                    </button>
                </div>
                <div class="col-12 mt-2">
                    <div class="collapse" id="collapseExample_{{ n.id }}">
                        <div class="card card-body">
                            {{ n.get_markdown_content | safe }}
                        </div>
                        {% if post.author == request.user %}
                        <button onclick="delete_notice({{n.pk}})" class="btn btn-warning">삭제</button>
                        {% endif%}
                    </div>
                </div>
                </li>
                {% empty %}
                <li>공지사항이 없습니다.</li>
                {% endfor %}

                {% if post.author == request.user %}
                <div class="col-12 mb-4">
                    <button class="btn btn-info col-12" data-toggle="collapse" data-target="#write_notice" aria-expanded="false"
                            aria-controls="write_notice">
                        공지 작성
                    </button>
                </div>
                <div class="card col-12 collapse" id="write_notice">
                    <div class="card-body">
                        <form method="post" action={% url 'studyroom:write_notice' pk=post.id %}>
                        {% csrf_token %}
                        <div class="form-group">
                            {{ notice_form.as_p }}
                        </div>
                        <button type="submit" class="btn btn-info float-right">Submit</button>
                        </form>
                    </div>
                </div>

                {% endif %}

                {% comment %} 공지사항 끝 {% endcomment %}

            </div>
        </div>
    </div>
</header>


<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-md-12 mb-5">
            <h2><strong>Youtube</strong></h2>
            <hr>
            {% comment %} 유튜브 강좌 {% endcomment %}
            <p style="text-align:center; position: relative; max-width: 100%; padding-bottom: 56.25%; height: 0;">
                <iframe id="ytplayer" type="text/html" width="640" height="360" src={{youtube_url.video_url}}
                        frameborder="0" allowfullscreen="" style="position: absolute; position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
                <!--                <iframe width="662" height="372" src="https://www.youtube.com/embed/zPYg1HmT-e8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
            </p>
            {% comment %} 유튜브 강좌 {% endcomment %}

            <!-- change url start -->
            {% if post.author == request.user %}
            <input type="text" id="url_input">
            <button onclick="change_url({{ post.pk }})">수정</button>
            <br><br>
            {% endif %}
            <!-- change url end -->

<!--            <a class="btn btn-info btn-lg" href={{ youtube_url.channel_url }} target="_blank">유튜브 채널 바로가기 &raquo;</a>-->
<!--            <br>-->
<!--            <br>-->
        </div>

        <div class="col-md-12 mb-5">
            <h2><strong>Sound</strong></h2>
            <hr>
            {% if post.author == request.user %}
                <form action="/studyroom/register_sound/{{post.id}}/" method='POST' enctype="multipart/form-data">
                    {% csrf_token %}
                    주차 : <input type="text" name="sound_file_title">
                    <br>
                    <input type="file" name="sound_file">
                    <br>
                    <button type="submit">생성</button>
                </form>
            {% endif %}
            {% for sound_file in sound_files %}
                <br>
                {{sound_file.title}}
                <br>
                <audio controls="controls">
                    <source src="{{sound_file.sound_file.url}}">
                </audio>
            {% if post.author == request.user %}
                &nbsp;<button onclick="delete_week_sound({{sound_file.id}})">삭제</button>
            {% endif %}
            {% endfor %}
        </div>

        <!-- /.row -->
        <div class="col-md-12 mb-5">
            <h2><strong>Voca Test</strong></h2>
            <hr>
            {% if post.author == request.user %}
            <form action="/studyroom/create_vocatest/{{post.id}}/" method='POST'>
                {% csrf_token %}
                Name : <input type="text" name="vocatest_name">
                <br>
                Limit : <input type="text" name="vocatest_limit">
                <br>
                <button type="submit">생성</button>
            </form>
            {% endif %}
            <div class="row">
                {% for i in object_list %}
                <div class="col-3 mb-2 p-1">
                    <div class="card" id="post-card-{{ i.pk }}">
                        <div class="card-body" id="main-title">
                            <h5 class="card-title" style="text-align: center;">{{i.name}}</h5>
                            <a href="/studyroom/try/{{i.id}}/" style="text-align: center;" class="col-12 btn btn-info">입장</a>
                        </div>
                        {% if post.author == request.user %}
                        <form action="/studyroom/register_csv/{{post.id}}/{{i.id}}/" method='POST' enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" name="cardset_csv">
                            <button type="submit">등록</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <!--            <div class="col-md-3 mb-5">-->
            <!--                {% if object_list.exists %}-->
            <!--                {% for i in object_list %}-->
            <!--                <h5>{{i.name}}</h5>-->
            <!--                <a href="/try/{{i.id}}/" class="btn btn-info">입장</a><br><br>-->
            <!--                <a href="/try/{{ cardset_id }}/total/" class="btn btn-info">전체 결과 보기</a>-->
            <!--                {% endfor %}-->
            <!--            </div>-->

            {% if is_paginated %}
            <!-- Pagination -->
            <ul class="pagination justify-content-center mb-4">

                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&larr; Previous </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">&larr; Previous</a>
                </li>
                {% endif %}

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next &rarr;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Next &rarr;</a>
                </li>
                {% endif %}
            </ul>
            {% endif %}

            {% else %}
            <h3>아직 게시물이 없습니다. </h3>
            {% endif %}
            {% comment %} 카드셋 끝 {% endcomment %}
        </div>

        <div class="col-md-12 mb-5">
            <h2><strong>Test Result | Mission Progress</strong></h2>
            <hr>
            <div class="container">
                {% comment %} 그래프 {% endcomment %}
                <div class="row">
                    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
                    <div class="col-md-6 mb-5">
                        <canvas id="myChart" style="width: 100%; height: 300px;"></canvas>
                        <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['My score', 'Average score'],
                datasets: [{
                    label: ['My score', 'Average score'],
                    data: [{{my_average}},{{average}}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',

                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            max: 100
                        }
                    }]
                },
                legend: {
                    display: false
                },
                tooltips: {
                    callbacks: {
                    label: function(tooltipItem) {
                            return tooltipItem.yLabel;
                        }
                    }
                }
            }
        });
    </script>
                    </div>

                    <div class="col-md-6 mb-5">
                        <canvas id="proceedingChart" style="width: 100%; height: 300px;"></canvas>
                        <script>
        var ctx = document.getElementById('proceedingChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [
                    {% comment %} 참여자 이름 나열 {% endcomment %}
                    {% for p in upload_chart_data %}
                        '{{ p }}',
                    {% endfor %}
                ],
                datasets: [{
                    data: [
                        {% comment %} {{my_average}},{{average}} {% endcomment %}
                        {% for v in upload_chart_data.values %}
                            '{{ v.value }}',
                        {% endfor %}
                    ],
                    backgroundColor: [
                        {% for v in upload_chart_data.values %}
                            '{{ v.background_color }}',
                        {% endfor %}
                    ],
                    borderColor: [
                        {% for v in upload_chart_data.values %}
                            '{{ v.border_color }}',
                        {% endfor %}
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            max: 100
                        }
                    }]
                },
                legend: {
                    display: false
                },
                tooltips: {
                    callbacks: {
                    label: function(tooltipItem) {
                            return tooltipItem.yLabel;
                        }
                    }
                }
            }
        });
    </script>

                    </div>
                </div>
                {% comment %} 그래프 {% endcomment %}
            </div>
        </div>

        <div class="col-md-12 mb-5">
            <h2><strong>Submission</strong></h2>
            <hr>
            {% comment %} 인증파일 업로드 {% endcomment %}
            <div class="row">
                {% if post.author == request.user %}
                <div class="col-12">
                    <form action="{% url 'studyroom:upload-base' pk=post.id %}" method="POST">
                        {% csrf_token %}
                        {{ upload_form.as_table }}
                        <button type="submit">생성</button>
                    </form>
                </div>
                {% endif %}
                <div class="col-12">
                    <ul style="display:block;">
                        {% for u in uploads %}
                        <li class='mt-2'>
                            <a href="{% url 'studyroom:mission-upload' pk=u.id %}">{{ u.title }}</a>
                        </li>
                        {% empty %}
                        <li>인증파일 업로드 리스트가 없습니다.</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% comment %} 인증파일 업로드 {% endcomment %}
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div id="comment-list">
                        {% for comment_room in comment_rooms %}
                        <div>
                            {% if user == post.author %}
                            <div style="font-size: 20px; color: red;">
                                {{comment_room.participant}}
                            </div>
                            {% endif %}
                            <!-- Comments Form -->
                            <div class="card my-4">
                                <h5 class="card-header">Leave a Comment:</h5>
                                <div class="card-body">
                                    <form method="post" action="{{ object.get_absolute_url }}create_comment/{{ comment_room.participant }}/">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            {{ comment_form | crispy }}
                                        </div>
                                        {% if user.is_authenticated %}
                                        <button type="submit" class="btn btn-info float-right">Submit</button>
                                        {% else %}
                                        <div class="alert alert-dismissible alert-info">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            <strong>환영합니다.</strong><a href="#" class="alert-link"> 댓글을 달기위해서 로그인 해주세요.</a>
                                        </div>
                                        <!--            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#loginModal">Submit</button>-->
                                        {% endif %}
                                    </form>
                                </div>
                            </div>
                            {% for comment in comment_room.scomments.all %}
                            <div class="media mb-4" id="comment-id-{{ comment.pk }}">
                                {% if comment.author.socialaccount_set.all.0.get_avatar_url %}
                                <img width="50px" class="d-flex mr-3 rounded-circle" src="{{ comment.author.socialaccount_set.all.0.get_avatar_url }}" alt="">
                                {% else %}
                                <img width="50px" class="d-flex mr-3 rounded-circle" src="https://api.adorable.io/avatars/285/{{ comment.author }}.png" alt="">
                                {% endif %}
                                <div class="media-body">
                                    {% if comment.author == request.user %}
                                    <button class="btn btn-sm btn-info float-right" onclick="location.href='/studyroom/edit_comment/{{ comment.pk }}/{{ post.pk }}/'">edit</button>
                                    <button class="btn btn-sm btn-warning float-right" data-toggle="modal" data-target="#deleteCommentModal-{{ comment.pk }}">delete</button>
                                    {% endif %}
                                    <h5 class="mt-0">{{ comment.author }} <small class="text-muted">{{ comment.created_at }}</small></h5>
                                    {{ comment.get_markdown_content | safe }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>

                    {% for comment_room in comment_rooms %}
                    {% for comment in comment_room.scomments.all %}
                    {% if user == comment.author %}
                    <!-- DeleteCommentModal -->
                    <div class="modal fade" id="deleteCommentModal-{{ comment.pk }}" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">정말로 삭제하시겠습니까?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>{{ comment.get_markdown_content | safe }}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-info" onclick="location.href='/studyroom/delete_comment/{{ comment.pk }}/{{ post.pk }}/'">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <hr>
</div>
</div>
<!-- /.container -->


<script>
    const change_url = (post_id) => {
        const url_text = document.getElementById("url_input").value;

        const formData = new FormData();

        formData.append('url_text', url_text);

        fetch(`/studyroom/change-url/${post_id}/`, {
            method: 'POST',
            body: formData
        })
            .then((res) => res.json())
            .then((data) => {
                if(data.result = 'change'){
                    location.href = location.href.split("#")[0];
                }
            });
    }

    const delete_notice = (notice_id) => {
        fetch(`/studyroom/delete_notice/${notice_id}/`)
            .then(res => res.json())
            .then(data => {
                location.href = location.href.split("#")[0];
            })
    }

    const delete_week_sound = (sound_id) => {
        fetch(`/studyroom/delete_week_sound/${sound_id}/`)
            .then(res => res.json())
            .then(data => {
                location.href = location.href.split("#")[0];
            })
    }
</script>

{% endblock %}