{% extends 'basecamp/base_full.html' %} {% load static %} {% block content %}

<br />
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ base.title }}</h1>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} {{ iform }}
        <br />
        <input type="hidden" value="img" name="type" />
        <button type="submit">이미지전송</button>
      </form>
      <br />
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} {{ sform }}
        <br />
        <input type="hidden" value="snd" name="type" />
        <button type="submit">사운드전송</button>
      </form>

      <ul>
        {% for i in imgs %}
        <li>
          <h5>{{ i.user.username }}</h5>
          <img
            src="{{i.ifile.url}}"
            width="400"
            id="ifile_{{i.pk}}"
            data-toggle="false"
            onclick="resize_ifile({{i.pk}})"
          />
          <button onclick="delete_image({{i.pk}})">삭제</button>
        </li>
        {% endfor %}

        {% for s in snds %}
        <li>
          <h5>{{ s.user.username }}</h5>
          <audio controls>
            <source src="{{s.sfile.url}}" />
          </audio>
          <button onclick="delete_sound({{s.pk}})">삭제</button>
        </li>
        {% endfor %}
      </ul>
      <a href="{% url 'studyroom:study_room' pk=base.post.id %}">
        <button class="btn btn-info float-right">뒤로</button>
      </a>

      <script>
        const delete_image = (image_pk) => {
          fetch(`/studyroom/delete_image/${image_pk}/`)
            .then((res) => res.json())
            .then((data) => {
              if (data.result == "image delete") {
                location.href = location.href;
              }
            });
        };

        const delete_sound = (sound_pk) => {
          fetch(`/studyroom/delete_sound/${sound_pk}/`)
            .then((res) => res.json())
            .then((data) => {
              if (data.result == "sound delete") {
                location.href = location.href;
              }
            });
        };

        const resize_ifile = (ifile_pk) => {
          const ifile = document.getElementById(`ifile_${ifile_pk}`);
          if (ifile.dataset.toggle == "false") {
            ifile.style.width = "700px";
            ifile.dataset.toggle = "true";
          } else {
            ifile.style.width = "400px";
            ifile.dataset.toggle = "false";
          }
        };
      </script>
    </div>
  </div>
</div>
<br />
{% endblock %}
