<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}EduOcean{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'blog/assets/css/custom.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="{% static 'blog/bootstrap/scrolling-nav.css' %}" rel="stylesheet">
    <link rel="icon" type="iamge/x-icon" href="{% static 'basecamp/images/favicon.ico' %}" sizes="16x16">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'basecamp/images/favicon.ico' %}">

    <title>에듀오션</title>
    <meta name=”description” content=”미션 기반의 온라인 스터디 플랫폼, 에듀오션입니다.”>
    <meta property=”og:title” content=”에듀오션”>
    <meta property=”og:description” content=”미션 기반의 온라인 스터디 플랫폼, 에듀오션”>
    <meta property="og:url" content="https://www.edu-ocean.com">
    <meta property="og:image" content="https://mcusercontent.com/b6f88d1b792909a5a958681c9/images/55ab7f6e-84c1-49e4-843c-c48be935bc85.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="627">
    <meta name=”keywords” content=”에듀오션, eduocean, 온라인스터디, 영어스터디, 중국어스터디, 스터디미션, 스터디플랫폼”>

    <link rel="apple-touch-icon" sizes="152x152" href="https://mcusercontent.com/b6f88d1b792909a5a958681c9/images/86b8c17b-c25b-4580-bee4-51d1b1cd9ecd.png">
    <link rel="shortcut icon" sizes="152x152" href="https://mcusercontent.com/b6f88d1b792909a5a958681c9/images/86b8c17b-c25b-4580-bee4-51d1b1cd9ecd.png" />

    <meta name="google-site-verification" content="DC45UOIndMOq_OZAcn9O_kD_6wR2f_9k_xoJXQhSUck" />
    <meta name="naver-site-verification" content="21a5b42460fe64ccece13dac7d1259bd8ce6aa2b" />

    <!--    Global site tag (gtag.js) - Google Analytics-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-170288000-1"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-170288000-1');
</script>

    <!-- Hotjar Tracking Code for www.edu-ocean.com -->
    <script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1867974,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

</head>

<body>
{% include 'basecamp/nav_bar.html' %}
{% block content %}
{% endblock %}

<script src="{% static 'blog/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'blog/assets/js/popper.min.js' %}"></script>
<script src="{% static 'blog/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'blog/assets/js/custom.js' %}"></script>
<script src="{% static 'blog/assets/js/bootstrap.bundle.min.js' %}"></script>



<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <div class="m-0 text-center text-white" style="vertical-align: middle;">
            <!--      Terms of Service | Privacy Policy | FAQ | 환불규정-->
            <!--      <br />-->
            Copyright 2020 © EduOcean Inc.
<!--        <div align="right">-->
<!--            <a href="#" style="vertical-align: middle;">-->
<!--                <i class="fab fa-youtube text-white fa-2x fa-fw"></i>-->
<!--                <i class="fab fa-facebook text-white fa-2x fa-fw"></i>-->
<!--                <i class="fab fa-instagram text-white fa-2x fa-fw"></i>-->


<!--            </a>-->
<!--            </div>-->

        </div>


    </div>

</footer>

</body>

</html>


