{% load static %}
<!-- Navigation bar -->
<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" id="nav_bar">
  <div class="container">
    <a class="nav-link" href="/"
      ><img
        class="img-fluid"
        width="35"
        alt="EduOcean_Logo"
        src="{% static 'basecamp/images/logo_w.png' %}"
    /></a>
    <a href="/" class="navbar-brand">EDUOCEAN</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        <!--                <li class="nav-item dropdown">-->
        <!--                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">임시 <span class="cret"></span></a>-->
        <!--                    <div class="dropdown-menu" aria-labelledby="themes">-->
        <!--                        <a class="dropdown-item" href="../default/">Default</a>-->
        <!--                        <div class="dropdown-divider"></div>-->
        <!--                    </div>-->
        <!--                </li>-->

        <li class="nav-item">
          <a class="nav-link" href="/blog/">선원 모집 중</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/blog/my/">내 배 들어가기</a>
        </li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            href="#"
            id=""
            >{{ user }} <span class="caret"></span
          ></a>
          <div class="dropdown-menu" aria-labelledby="download">
            <a class="dropdown-item" target="_blank" href="/accounts/email/"
              >Change E-mail</a
            >
            <!--                        <a class="button secondaryAction" href="/accounts/password/reset/">Forgot Password?</a>-->
            <div class="dropdown-divider"></div>
            <a
              class="dropdown-item"
              data-toggle="modal"
              data-target="#logoutModal"
              href="#"
              >Log out</a
            >
          </div>
        </li>
        {% else %}
        <li class="nav-item">
          <button
            type="button"
            class="btn btn-info"
            data-toggle="modal"
            data-target="#loginModal"
          >
            Log in
          </button>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>

{% load socialaccount %}
<!-- Modal -->
<div
  class="modal fade"
  id="loginModal"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  role="dialog"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">EduOcean</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Material form login -->
        <div class="card">
          <h5 class="card-header info-color white-text text-center py-4">
            <strong>Sign in</strong>
          </h5>

          <!--Card content-->
          <div class="card-body px-lg-5 pt-0">
            <!-- Form -->
            <form
              class="text-center"
              style="color: #757575;"
              action="/accounts/login/"
              method="POST"
            >
              <!--                            <form class="login" method="POST" action="/accounts/login/">-->

              <!-- Email -->
              <div class="md-form">
                <input
                  type="text"
                  class="form-control"
                  name="login"
                  placeholder="Username"
                  autofocus="autofocus"
                  maxlength="150"
                  required
                  id="id_login"
                />
                <label for="id_login">Username</label>
              </div>

              <!-- Password -->
              <div class="md-form">
                <input
                  type="password"
                  name="password"
                  placeholder="Password"
                  required
                  id="id_password"
                  class="form-control"
                />
                <label for="materialLoginFormPassword">Password</label>
                <input
                  type="hidden"
                  name="csrfmiddlewaretoken"
                  value="{{csrf_token}}"
                />
              </div>

              <div class="d-flex justify-content-around">
                <div>
                  <!-- Remember me -->
                  <div class="form-check">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      id="materialLoginFormRemember"
                    />
                    <label
                      class="form-check-label"
                      for="materialLoginFormRemember"
                      >Remember me</label
                    >
                  </div>
                </div>
                <div>
                  <!-- Forgot password -->
                  <a href="/accounts/password/reset/">Forgot password?</a>
                </div>
              </div>

              <!-- Sign in button -->
              <button
                class="btn btn-info btn-rounded btn-block my-4 waves-effect z-depth-0"
                type="submit"
              >
                Sign in
              </button>

              <!-- Register -->
              <p>
                Not a member?
                <a href="/accounts/signup/">Register</a>
              </p>

              <!-- Social login -->
<!--              <p>or sign in with:</p>-->
<!--              <a-->
<!--                type="button"-->
<!--                class="btn-floating btn-gg btn-sm"-->
<!--                href="{% provider_login_url 'google' %}"-->
<!--              >-->
<!--                <i class="fab fa-google"></i>-->
<!--              </a>-->
              <!--              <a type="button" class="btn-floating btn-fb btn-sm">-->
              <!--                <i class="fab fa-facebook-f"></i>-->
              <!--              </a>-->
              <!--                            <a type="button" class="btn-floating btn-li btn-sm">-->
              <!--                                <i class="fab fa-linkedin-in"></i>-->
              <!--                            </a>-->
              <!--                            <a type="button" class="btn-floating btn-git btn-sm">-->
              <!--                                <i class="fab fa-github"></i>-->
              <!--                            </a>-->
            </form>
            <!-- Form -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- LogoutModal -->
<div
  class="modal fade"
  id="logoutModal"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  role="dialog"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">EduOcean</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--                <div>-->
        <!--                    <strong>Menu:</strong>-->
        <!--                    <ul>-->
        <!--                        <li><a href="/accounts/email/">Change E-mail</a></li>-->
        <!--                        <li><a href="/accounts/logout/">Sign Out</a></li>-->
        <!--                    </ul>-->
        <!--                </div>-->
        <strong>Are you sure you want to sign out?</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <form method="post" action="/accounts/logout/">
          <input
            type="hidden"
            name="csrfmiddlewaretoken"
            value="{{csrf_token}}"
          />
          <button
            type="submit"
            class="btn btn-info"
            href="/basecamp/enter_my_room"
          >
            Sign Out
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
